In [1]:
import pandas as pd

In [2]:
#Leo producto unico
prod_unico = pd.read_csv('Datasets locales/Producto_Unico.csv')
prod_unico.head()

,Cod_Producto,Producto,Cod_Subcategoria,Cod_Categoria
0,1,"Casco deportivo: 100, rojo",31,4
1,2,"Casco deportivo: 100, negro",31,4
2,3,"Calcetines para bicicleta de montaña, M",23,3
3,4,"Calcetines para bicicleta de montaña, G",23,3
4,5,"Casco deportivo: 100, azul",31,4

In [51]:
#leo producto sucursal y stock
prod_suc = pd.read_csv('Datasets locales/Producto_Sucursales.csv')
prod_suc.head(10)

   Cod_Producto  Cod_Sucursal  Stock  Stock_Inicial
0             1             1      0              0
1             1             2      0              0
2             1             3      1              1
3             1             4      1              1
4             1             5      2              2
5             1             6      0              0
6             1             7      1              1
7             1             8      2              2
8             1             9      3              3
9             1            10      2              2

In [50]:
prod_suc2 = prod_suc.copy()
prod_suc2

      Cod_Producto  Cod_Sucursal  Stock  Stock_Inicial
0                1             1      0              0
1                1             2      0              0
2                1             3      1              1
3                1             4      1              1
4                1             5      2              2
...            ...           ...    ...            ...
2365           237             6      0              0
2366           237             7      1              1
2367           237             8      1              1
2368           237             9      0              0
2369           237            10      0              0

[2370 rows x 4 columns]

In [52]:
prod_unico2 = prod_unico.copy()
prod_unico2

,Cod_Producto,Producto,Cod_Subcategoria,Cod_Categoria
0,1,"Casco deportivo: 100, rojo",31,4
1,2,"Casco deportivo: 100, negro",31,4
2,3,"Calcetines para bicicleta de montaña, M",23,3
3,4,"Calcetines para bicicleta de montaña, G",23,3
4,5,"Casco deportivo: 100, azul",31,4
...,...,...,...,...
232,233,Eje de pedalier GM,5,2
233,234,Eje de pedalier GA,5,2
234,235,"Carretera: 750, negra, 44",2,1
235,236,"Carretera: 750, negra, 48",2,1
236,237,"Carretera: 750, negra, 52",2,1

In [53]:
num = 1
prod_suc2 = prod_suc2.drop(prod_suc2[prod_suc2['Cod_Producto']==num].index)
prod_unico2 = prod_unico2.drop(prod_unico2[prod_unico2['Cod_Producto']==num].index)
prod_suc2

      Cod_Producto  Cod_Sucursal  Stock  Stock_Inicial
10               2             1      1              1
11               2             2      1              1
12               2             3      3              3
13               2             4      0              0
14               2             5      3              3
...            ...           ...    ...            ...
2365           237             6      0              0
2366           237             7      1              1
2367           237             8      1              1
2368           237             9      0              0
2369           237            10      0              0

[2360 rows x 4 columns]

In [54]:
prod_unico2

,Cod_Producto,Producto,Cod_Subcategoria,Cod_Categoria
1,2,"Casco deportivo: 100, negro",31,4
2,3,"Calcetines para bicicleta de montaña, M",23,3
3,4,"Calcetines para bicicleta de montaña, G",23,3
4,5,"Casco deportivo: 100, azul",31,4
5,6,"Jersey con logotipo de manga larga, P",21,3
...,...,...,...,...
232,233,Eje de pedalier GM,5,2
233,234,Eje de pedalier GA,5,2
234,235,"Carretera: 750, negra, 44",2,1
235,236,"Carretera: 750, negra, 48",2,1
236,237,"Carretera: 750, negra, 52",2,1

In [49]:
prod_unico2['Cod_Producto'] = range(1, 1+len(prod_unico2))
prod_unico2

,Cod_Producto,Producto,Cod_Subcategoria,Cod_Categoria
1,1,"Casco deportivo: 100, negro",31,4
2,2,"Calcetines para bicicleta de montaña, M",23,3
3,3,"Calcetines para bicicleta de montaña, G",23,3
4,4,"Casco deportivo: 100, azul",31,4
5,5,"Jersey con logotipo de manga larga, P",21,3
...,...,...,...,...
232,232,Eje de pedalier GM,5,2
233,233,Eje de pedalier GA,5,2
234,234,"Carretera: 750, negra, 44",2,1
235,235,"Carretera: 750, negra, 48",2,1
236,236,"Carretera: 750, negra, 52",2,1

In [112]:
#-------------------------------------------AGREGAR PRODUCTO NUEVO------------------------------------------------------------------------------------------------------

In [106]:
prod_unico_add = prod_unico.copy()
prod_unico_add

,Cod_Producto,Producto,Cod_Subcategoria,Cod_Categoria
0,1,"Casco deportivo: 100, rojo",31,4
1,2,"Casco deportivo: 100, negro",31,4
2,3,"Calcetines para bicicleta de montaña, M",23,3
3,4,"Calcetines para bicicleta de montaña, G",23,3
4,5,"Casco deportivo: 100, azul",31,4
...,...,...,...,...
232,233,Eje de pedalier GM,5,2
233,234,Eje de pedalier GA,5,2
234,235,"Carretera: 750, negra, 44",2,1
235,236,"Carretera: 750, negra, 48",2,1
236,237,"Carretera: 750, negra, 52",2,1

In [107]:
prod_suc_add = prod_suc.copy()
prod_suc_add

      Cod_Producto  Cod_Sucursal  Stock  Stock_Inicial
0                1             1      0              0
1                1             2      0              0
2                1             3      1              1
3                1             4      1              1
4                1             5      2              2
...            ...           ...    ...            ...
2365           237             6      0              0
2366           237             7      1              1
2367           237             8      1              1
2368           237             9      0              0
2369           237            10      0              0

[2370 rows x 4 columns]

In [108]:
prod = "Camiseta verde talla L"
subcat = 23
cat = 3
prod_unico_add.loc[len(prod_unico_add)]=[1+len(prod_unico_add),prod,subcat,cat]

In [109]:
max = prod_suc_add['Cod_Producto'].max() 
for i in range(10):
    prod_suc_add.loc[len(prod_suc_add)]=[max+1,i+1,0,0]

      Cod_Producto  Cod_Sucursal  Stock  Stock_Inicial
0                1             1      0              0
1                1             2      0              0
2                1             3      1              1
3                1             4      1              1
4                1             5      2              2
...            ...           ...    ...            ...
2375           238             6      0              0
2376           238             7      0              0
2377           238             8      0              0
2378           238             9      0              0
2379           238            10      0              0

[2380 rows x 4 columns]

In [110]:
prod_unico_add

,Cod_Producto,Producto,Cod_Subcategoria,Cod_Categoria
0,1,"Casco deportivo: 100, rojo",31,4
1,2,"Casco deportivo: 100, negro",31,4
2,3,"Calcetines para bicicleta de montaña, M",23,3
3,4,"Calcetines para bicicleta de montaña, G",23,3
4,5,"Casco deportivo: 100, azul",31,4
...,...,...,...,...
233,234,Eje de pedalier GA,5,2
234,235,"Carretera: 750, negra, 44",2,1
235,236,"Carretera: 750, negra, 48",2,1
236,237,"Carretera: 750, negra, 52",2,1
237,238,Camiseta verde talla L,23,3

In [111]:
prod_suc_add.tail(20)

      Cod_Producto  Cod_Sucursal  Stock  Stock_Inicial
2360           237             1      1              1
2361           237             2      0              0
2362           237             3      0              0
2363           237             4      1              1
2364           237             5      0              0
2365           237             6      0              0
2366           237             7      1              1
2367           237             8      1              1
2368           237             9      0              0
2369           237            10      0              0
2370           238             1      0              0
2371           238             2      0              0
2372           238             3      0              0
2373           238             4      0              0
2374           238             5      0              0
2375           238             6      0              0
2376           238             7      0              0
2377           238             8      0              0
2378           238             9      0              0
2379           238            10      0              0