# pandas Series and DataFrame

## pandas
**pandas** es una biblioteca de código abierto que proporciona estructuras de datos y herramientas de análisis de datos para programadores Python

In [1]:
import pandas as pd

## Series
Los pandas **Series** es una matriz unidimensional, similar a una lista de Python

In [2]:
airports = pd.Series([
                      'Seattle-Tacoma', 
                      'Dulles', 
                      'London Heathrow', 
                      'Schiphol', 
                      'Changi', 
                      'Pearson', 
                      'Narita'
                      ])

# Al usar un cuaderno, puede usar la instrucción print
# print(aeropuertos) para examinar el contenido de una variable
# o puede imprimir un valor en la pantalla simplemente escribiendo el nombre del objeto
airports

0     Seattle-Tacoma
1             Dulles
2    London Heathrow
3           Schiphol
4             Changi
5            Pearson
6             Narita
dtype: object

Puede hacer referencia a un valor individual en una serie utilizando su índice

In [3]:
airports[2]

'London Heathrow'

Puede utilizar un bucle para iterar a través de todos los valores de una serie

In [4]:
for value in airports:
    print(value)

Seattle-Tacoma
Dulles
London Heathrow
Schiphol
Changi
Pearson
Narita

## DataFrame
La mayoría de las veces cuando estamos trabajando con pandas estamos tratando con matrices bidimensionales

Los pandas **DataFrame** pueden almacenar matrices bidimensionales

In [5]:
airports = pd.DataFrame([
                        ['Seatte-Tacoma', 'Seattle', 'USA'],
                        ['Dulles', 'Washington', 'USA'],
                        ['London Heathrow', 'London', 'United Kingdom'],
                        ['Schiphol', 'Amsterdam', 'Netherlands'],
                        ['Changi', 'Singapore', 'Singapore'],
                        ['Pearson', 'Toronto', 'Canada'],
                        ['Narita', 'Tokyo', 'Japan']
                        ])

airports

                 0           1               2
0    Seatte-Tacoma     Seattle             USA
1           Dulles  Washington             USA
2  London Heathrow      London  United Kingdom
3         Schiphol   Amsterdam     Netherlands
4           Changi   Singapore       Singapore
5          Pearson     Toronto          Canada
6           Narita       Tokyo           Japan

Utilice el parámetro **columns** para especificar los nombres de las columnas cuando cree el DataFrame

In [8]:
airports = pd.DataFrame([
                        ['Seatte-Tacoma', 'Seattle', 'USA'],
                        ['Dulles', 'Washington', 'USA'],
                        ['London Heathrow', 'London', 'United Kingdom'],
                        ['Schiphol', 'Amsterdam', 'Netherlands'],
                        ['Changi', 'Singapore', 'Singapore'],
                        ['Pearson', 'Toronto', 'Canada'],
                        ['Narita', 'Tokyo', 'Japan']
                        ],
                        columns = ['Name', 'City', 'Country']
                        )

airports

              Name        City         Country
0    Seatte-Tacoma     Seattle             USA
1           Dulles  Washington             USA
2  London Heathrow      London  United Kingdom
3         Schiphol   Amsterdam     Netherlands
4           Changi   Singapore       Singapore
5          Pearson     Toronto          Canada
6           Narita       Tokyo           Japan